<div
  class="item"
  (click)="toggleOpen()"
>
  <div
    class="arrow"
    [ngClass]="{active: openSub}"
    [style.border-left-color]="textColor"
    *ngIf="hasSub"
  ></div>
  <span
    class="title"
    [style.color]="titleColor"
  >{{title}}</span>
  <span
    class="text"
    [style.color]="textColor"
  >：{{text}}</span>
</div>
<div
  class="container"
  *ngIf="subData && openSub"
  [ngStyle]="{'padding-left': tabWidth}"
>
  <app-json-to-list
    [titleColor]="titleColor"
    [textColor]="textColor"
    [json]="subData"
    [tabWidth]="tabWidth"
  >
  </app-json-to-list>
</div>
